name: OSV-Scanner Scan

on:
  schedule:
    - cron: '30 13 * * 1'
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  analyze:
    permissions:
      # Require writing security events to upload SARIF file to security tab
      security-events: write
      contents: read
      actions: read
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@88da6c4b12e3962664704b4b3b82254df83919bc" #v2.2.1
